.popup {
  position: fixed;
  width: 35%;
  height: 60%;
  top: 20%;
  left: 30%;
  margin: auto;
  border-width: 5px;
  background-color: white;
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  height: 100%;
  margin: auto;
}

.close_button {
  border-radius: 5px;
  position: absolute;
  top: 90%;
  left: 35%;
  font-size: 100%;
}

.exit_button {
  border-radius: 30px;
  font-size: 120%;
  position: absolute;
  left: 98%;
  bottom: 97%;
}

.container {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.check_container {
  position: relative;
}

.container2 {
  position: relative;
  left: 55%;
  bottom: 330px;
  display: flex;
  flex-direction: column;
}

.check_container2 {
  position: relative;
}
