[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
asgiref = "*"
boto = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cryptography = "*"
dj-database-url = "*"
Django = "*"
django-cors-headers = "*"
django-heroku = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
drf-jwt = "*"
ecdsa = "*"
gunicorn = "*"
heroku = "*"
idna = "*"
psycopg2 = "*"
pyasn1 = "*"
pycparser = "*"
PyJWT = "*"
python-dateutil = "*"
python-dotenv = "*"
python-jose = "*"
pytz = "*"
requests = "*"
rsa = "*"
setuptools = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
whitenoise = "*"


[requires]
python_version = "3.7"
