.filter_container {
  top:-10px;
}

.container {
  margin: 0 !important;
  position: static !important;
}

.header {
  text-align: center;
}

.add_a_case {
  float: right;
  left: 13%;
  bottom: 70%;
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 9em;
  height: 1.5em;
  border-radius: 13px;
  margin: 0.2em;
}

.stack {
  display: block;
  height:2em;
  margin:0;
}

