.filter_container {
  position: static;
  left: 50% !important;
  top: 10% !important;
}

.date_range_button {
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 11em;
  height: 2em;
  border-radius: 1em;
  margin: 0.5em;
}

.calendar {
  width: 14%;
}
