.filter_container3 {
    position: absolute;
    right: 1.6%;
    top: 26%;
}

.filter_button3 {
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10em;
    height: 1.6em;
    border-radius: 13px;
    margin: 0.2em;
    border-radius: 15px;
    font-size: 15px;
}
