h3 {
  font-size: 20px;
}

.container {
  max-width: 1500px !important;
}

.backButtonsContainer {
  position: relative;
  display: inline-block;
  width: 200%;
}

.editButtonsContainer {
  position: relative;
  display: inline-block;
  width: 150%;
  left: 20%;
  top: 20%;
}

#editButton:hover {
  filter: grayscale(100%);
}

.backbutton {
  vertical-align: middle;
}

.title-section {
  text-align: center !important;
}

#editButton {
  width: 20%;
  display: inline;
  vertical-align: middle;
  position: relative;
}

p {
  font-size: 15px;
  color: rgb(83, 83, 83);
}

#Active {
  color: green;
}

#Inactive {
  color: orange;
}
