.backbutton {
  position: relative;
  top: 10px;
  left: 30px;
}

.backbutton:focus {
  outline: none !important;
}

.backbutton img {
  width: 50px;
  cursor: pointer;
}

.backbutton:hover {
  filter: grayscale(100%);
  cursor: pointer;
}
