.backbutton {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  left: 30px;
}

.backbutton:focus {
  outline: none !important;
}

.backbutton img {
  width: 3%;
  cursor: pointer;
}

.backbutton img:hover {
  filter: grayscale(100%);
}
