.login_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.item_container {
  position: relative;
  width: 50%;
  height: 100%;
}

.button_container {
  position: relative;
  top: 35%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.logo_container {
  position: absolute;
  top: 38%;
  left: 30%;
  background: purple;
  width: 55%;
  height: 20%;
}

.logo_style {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
}

.dom_text {
  position: absolute;
  top: 110%;
  left: 15%;
}

.vl {
  position: relative;
  top: 25%;
  border-left: 1px solid grey;
  height: 50%;
}

.login_button {
  position: absolute;
  left: 13%;
  bottom: 70%;
  background-color: purple;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 7em;
  height: 17%;
  border-radius: 13px;
}

.login_button:focus {
  outline: none !important;
}