.row {
  height: 100%;
  margin: 1em;
}

#editButton:hover {
  filter: grayscale(100%);
}

.header {
  margin: 0;
  size: 1em;
}

.backbutton img {
  width: 20%;
  cursor: pointer;
}

.percentage {
  display: none;
  width: 40px;
}

.victim_table {
  text-align: left;
  width: 50%;
  color: black;
}

.abuser_table {
  text-align: left;
  width: 25.8%;
  color: black;
}

.rf_table {
  text-align: left;
  width: 25.8%;
  color: black;
}

.outcome_table {
  text-align: left;
  width: 51%;
  color: black;
}

.title {
  text-align: center;
}

.total {
  border-top: 2px solid purple;
  width: 73%;
  text-align: left;
  font-weight: bold;
}

.hide {
  display: none;
}
