#buttton {
}

.row {
  height: 4em;
  margin: 1em;
}

#editButton:hover {
  filter: grayscale(100%);
}

.header {
  margin: 0;
  size: 1em;
}

.backbutton img {
  width: 5%;
  cursor: pointer;
}

.percentage {
  display: none;
}
